/* Needed to fill all the space between header and footer */
body{ min-height: 100vh; margin:0; }
body{ display:flex; flex-direction:column; }
article{ flex:1; }

article{
    padding-bottom: 12px;
}

body {
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    text-align: left;
    background-color: #DAD7CD;
}

.body {
    flex: 1;
    display: flex;
    margin: 50px 20px 20px 20px;
}

.content_center {
    width: 50%;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
}

.content_left {
    width: 25%;
    margin-left: 0;
    margin-right: 15px;
    text-align: left;
}

.content_right {
    width: 25%;
    margin-left: 15px;
    margin-right: 0;
    text-align: left;
}

.content_center_to_right {
    width: 75%;
    margin-left: 25px;
    margin-right: 0;
    text-align: justify;
}

.item_left {
    margin-bottom: 25px;
    width: 85%;
}

.item_center {
    margin-bottom: 35px;
}

.item_right {
    margin-bottom: 25px;
    width: 85%;
    margin-left: auto;
}

.content_flex {
    display: flex;
    margin-bottom: 35px;
}

.item_flex_left {
    width: 50%;
    margin-right: 10px;
}

.item_flex_right {
    width: 50%;
    margin-left: 10px;
}

@media (max-width: 920px) {

    .body {
        margin: 20px 20px 0 20px;
    }

    h1, h2{
        text-align: center;
    }

    .content_center{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .content_center_to_right {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .content_right{
        display: none;
    }

    .content_left {
        display: none;
    }

    .content_flex {
        display: block;
    }

    .item_flex_left {
        width: 100%;
        margin-right: 0;
    }

    .item_flex_right {
        width: 100%;
        margin-left: 0;
    }

}