/* Needed to fill all the space between header and footer */
header{ min-height:40px; }

header {
    overflow: hidden;
    background-color: #408000;
}

header a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

header a:hover {
    background-color: yellowgreen;
    color: white;
}

header a.active {
    background-color: DarkGreen;
    color: white;
    user-select: none;
}

header a.header_title {
    background-color: #408000;
    color: white;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}

header a.header_title:hover {
    background-color: yellowgreen;
    color: white;
}

header a.header_title_active {
    background-color: DarkGreen;
    color: white;
    font-weight: bold;
    user-select: none;
}

.header_logo{
    height: 16px;
    width: 16px;
}

@media (max-width: 920px) {

    header a.header_title{
        width: 100%;
    }

    header a.header_title_active{
        width: 100%;
    }

    header a {
        font-size: 14px;
        width: 50%;
    }

}