/* Needed to fill all the space between header and footer */
header{ min-height:40px; }

header {
    overflow: hidden;
    background-color: #344E41;
    text-align: center;
}

header a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

header a.header_title {
    color: white;
    font-weight: bold;
    overflow: hidden;
    font-size: 25px;
}

header a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #A3B18A;
}

header a:visited {
    color: white;
}

header a.header_title:hover {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #A3B18A;
}

header a.active {
    background-color: #344E41;
    color: white;
    user-select: none;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #A3B18A;
}

header a.header_title_active {
    background-color: #344E41;
    color: white;
    font-weight: bold;
    user-select: none;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #A3B18A;
    font-size: 25px;
}

@media (max-width: 920px) {

    header a.header_title{
        width: 100%;
    }

    header a.header_title_active{
        width: 100%;
    }

    header a {
        font-size: 14px;
        width: 50%;
    }

}