/* Needed to fill all the space between header and footer */
header{ min-height: 0; }

header {
    overflow: hidden;
    background-color: #344E41;
    text-align: center;
}

header a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

header a.header_title {
    color: white;
    font-weight: bold;
    overflow: hidden;
    font-size: 25px;
}

header a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #A3B18A;
}

header a:visited {
    color: white;
}

header a.header_title:hover {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #A3B18A;
}

header a.active {
    background-color: #344E41;
    color: white;
    user-select: none;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #A3B18A;
}

header a.header_title_active {
    background-color: #344E41;
    color: white;
    font-weight: bold;
    user-select: none;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #A3B18A;
    font-size: 25px;
}

.icon_container {
    width: 32px;
    height: 32px;
    margin-top: 17px;
    margin-left: 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #588157;
}

.icon{
    margin: 5px 4px 5px 4px;
    transition: 0.4s ease-out;
    rotate: 90deg;
}

.bar {
    width: 22px;
    height: 4px;
    background-color: #588157;
    margin: 4px 0;
}

.rotate .icon {
    transform: rotate(-90deg);
}

#foldingHeader {
    max-height: 500px;
    transition: max-height 0.4s ease-out;
}

#foldingHeader.folded {
    max-height: 0;
}

@media (max-width: 920px) {

    header a.header_title{
        width: 100%;
    }

    header a.header_title_active{
        width: 100%;
    }

    header a {
        font-size: 14px;
        width: 100%;
    }

}