.side_menu_button, .side_menu_button:visited{
    border: 1px solid #DAD7CD;
    background-color: #3A5A40;
    float: left;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    width: 75%;
}

.side_menu_button:hover {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #A3B18A;
}

.member_block {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 220px;
}

.image {
    width: 100%;
}

#comunidade{
    display: block;
}

#novas{
    display: none;
}

#directiva{
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 920px) {

    .member_block {
        max-width: 30%;
    }

    .side_menu_button{
        width: 100%;
        text-align: center;
    }

    #comunidade{
        display: block;
    }

    #novas{
        display: block;
    }

    #directiva{
        display: block;
    }

}