.quick_access_button, .quick_access_button:visited {
    border: 1px solid #DAD7CD;
    background-color: #3A5A40;
    float: left;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    width: 75%;
}

.quick_access_button:hover {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #A3B18A;
}

.member_block {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 220px;
}

.image {
    width: 100%;
}


.mobile_sidebar_item {
    display: none;
}

.business_image{
    width: 320px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.business_title{
    text-align: left;
}

@media (max-width: 920px) {

    .member_block {
        width: 31%;
    }







    .mobile_sidebar_item {
        display: block;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .business_image{
        width: 100%;
        padding-right: 0;
    }

    .business_title{
        text-align: center;
    }

}