* {
    box-sizing: border-box;
}

.timeline-header{
    margin-top: 0;
    margin-bottom: 5px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #3A5A40;
    top: 24px;
    bottom: 0;
    left: 12px;
    margin-left: 0;
    margin-right: 0;
}

/* Container around content */
.timeline-container {
    width: 100%;
    padding-left: 22px;
    padding-right: 0;
    position: relative;
    margin-bottom: 20px;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 9px;
    background-color: #3A5A40;
    border-radius: 50%;
    z-index: 1;
}

/* Make sure all circles are at the same spot */
.left::after {
    left: 5px;
}

/* The actual content */
.timeline-content {
    padding: 0 10px 10px 10px;
    position: relative;
}

@media (max-width: 920px) {

    /* The circles on the timeline */
    .timeline-container::after {
        width: 12px;
        height: 12px;
        top: 12px;
    }

    /* Make sure all circles are at the same spot */
    .left::after {
        left: 7px;
    }

}