footer {
    width: 100%;
    display: flex;
    padding: 0.75rem 0.75rem 5rem 0.75rem;
    align-items: start;
    background-color: #3A5A40;
    color: white;
    border-radius: 10px 10px 0 0;
}

footer h2 {
    font-weight: 300;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .contact-margin{
    margin-right: 5rem;
}

footer p {
    margin-left: 1rem;
}

footer i {
    color: #A3B18A;
}

@media (max-width: 799px) {

    footer{
        display: block;
    }

    footer .contact-margin{
        margin-right: 0;
    }

    footer p a {
        font-size: 0.9rem;
    }

}