@import "../components/tables.css";
@import "../components/card-intro.css";
@import "../components/card-members.css";

/* CARD-MENU IMAGES */
.card:nth-child(1):before {
    background-image: url('../../assets/4_augas/intro_1.webp');
}
.card:nth-child(2):before {
    background-image: url('../../assets/4_augas/intro_2.webp');
}
.card:nth-child(3):before {
    background-image: url('../../assets/4_augas/intro_3.webp');
}

.custom-prev-arrow {
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}
.custom-next-arrow {
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}