@import "../components/tables.css";
@import "../components/card-intro.css";
@import "../components/card-members.css";

/* CARD-MENU IMAGES */
.card:nth-child(1):before {
    background-image: url('../../assets/2_enerxetica/intro_1.webp');
}
.card:nth-child(2):before {
    background-image: url('../../assets/2_enerxetica/intro_2.webp');
}
.card:nth-child(3):before {
    background-image: url('../../assets/2_enerxetica/intro_3.webp');
}
.card:nth-child(4):before {
    background-image: url('../../assets/2_enerxetica/intro_4.webp');
}