/* TODO: REVIEW */


.map {
    width: 100%;
    height: 75vh;
}

.map-location{
    padding: 0.25rem 0.25rem 0 0.25rem;
    border-radius: 8px;
    background-color: black;
    color: white;
    margin-bottom: 1rem;
    text-align: left;
    height: min-content;
    align-items: center;
    display: flex;
}

.map-location:hover {
    background-color: #0d0d0d;
}

.map-location h3 {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.map-location p {
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    font-size: 0.65rem;
}

.map-location img {
    width: 100%;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

@media (max-width: 799px) {

    .map-location{
        padding: 0.5rem;
    }

    .flex {
        display: block;
    }

    .flex-item-50, .flex-item-66, .flex-item-33, .flex-item-20, .flex-item-80  {
        width: 100%;
    }

    .left{
        padding-right: 0;
    }

    .right{
        padding-left: 0;
    }

}